@import url(https://fonts.googleapis.com/css?family=Audiowide);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
*{
    font-family:Audiowide;
}
::-webkit-scrollbar{
    width:0px;
}
.head{
    position:relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    font-size: 30px;
    font-weight: bold;
    background: crimson;
    font-family:Sofia;
    /*border-radius: 10px 10px 0 0;*/
}
.head .app{
    position:absolute;
    right:30px;
    color:white;
}
.head .mtch{
    position:absolute;
    font-size:25px;
    left:35%;
    width:30%;
    bottom:0;
    background:rgb(0,0,50);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height:30px;
    color:white;
    text-align:center;
    display:flex;
    justify-content:space-around;
    align-items: center;
}


.runout,.bwls,.bts2,.nxtbl,.nxtbt,.runout,.catcher{
    position:absolute;
    display:none;
    width:50%;
    height:50%;
    right:25%;
    top:15%;
    z-index:999;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
    background-color:rgba(255,215,0,1);
    border-radius:20px;
}

.nxtbl{
    display:none;
}

.bts_sel1{
    display:none;
}
.bts_sel2{
    display:block;
}
.fs{
    position:relative;
    top:46%;
    widht:80%;
    text-align:center;
    margin-top:30px;
    margin-left:400px;
    margin:auto;
}



.choices{
    display:none;
    overflow:scroll;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
    height:auto;
    max-height:230px;
    background:rgb(0,0,139);
    color:white;
    width:80%;
    left:10%;
    top:25px;
    z-index:999;
    position:absolute;
    text-align:center;
    border-bottom-left-radius:10px;
    border-bottom-right-radius: 10px;
}
.yr{
    width:100%;
    padding:5px;
}
.yr:hover{
    background:black;
    color:white;
}
.ch{
    position:absolute;
    background:#008800;
    color:white;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
    width:100%;
    height:25px;
    font-size:20px;
    text-align:center;
    border-radius:20px;
    /*z-index:1;*/
}
.ch:hover{
    color:black;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
    transition-duration:0.5s;
}

.nxt,.catcher .fc,.blll,.bt{
    position:absolute;
    width:40%;
    top:20%;
    left:30%;
}
.runout .fc,.runout .fk{
    position:absolute;
    width:50%;
    top:20%;
}
.runout .fc{left:0;}
.runout .fk{right:0;}

.fc .fs{
    position:absolute;
    width:60%;

}
.fc .fr{
    position:absolute;
    width:39%;
    right:0;
}
.fk .fs{
    position:absolute;
    width:48%;
    left:1%;
}
.fk .fr{
    position:absolute;
    width:48%;
    right:1%;
}
.catcher input[type=button],.nxtbt input[type=button],.bwl_sel,.bts_sel2,.bts_sel1{
    position:absolute;
    outline:none;
    border:none;
    background:black;
    color:white;
    font-weight:bold;
    font-size:18px;
    border-radius:20px;
    width:20%;
    left:75%;
    top:21%;
}

.runout input[type=button]{
    position:absolute;
    outline:none;
    border:none;
    background:black;
    color:white;
    font-weight:bold;
    font-size:18px;
    border-radius:20px;
    width:20%;
    left:40%;
    top:50%;
}

.score1{
    position:absolute;
    padding:5px;
    width:30%;
    top:35%;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    height:30px;
    display: flex;
    align-items: center;
    justify-content:center;
    background:rgba(0,0,50);
    color:white;
}
.score2{
    position:absolute;
    padding:5px;
    width:30%;
    top:35%;
    right:0;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
    height:30px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    background:rgba(0,0,50);
    color:white;
}
.scre,.scre1,.tot_ovr{
    padding:4px;
}
.fb,.sm{
    padding:8px;
}
.score{
    position:relative;
    /*top:30px;*/
    width:100%;
    background:rgba(0,0,139);
    height:35%;
    z-index:1;
    color:white;
}

.l{
    position:relative;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
    height:550px;
    width:80%;
    left:10%;
    /*margin-left:350px;*/
    margin-top:20px;
    border-radius:25px;
    overflow-y:scroll;
    /*background:linear-gradient(rgba(200,200,200,0.5),rgba(200,200,200,1.0));*/
}
.l_inf{
    position:absolute;
    height:100%;
    width:60%;
    border-radius:25px;
    overflow-y:hidden;
    background:rgb(0,0,139);

}
.obs{
    position:absolute;
    right:0;
    bottom:0px;
    width:40%;
    background:black;
    color:white;
    text-align:center;
    font-weight:bold;
    border-top-left-radius:30px;
    display: flex;
    align-items: center;
    justify-content:center;
    height:30px;
}
.runs_req{
    padding:4px;
}
.balls_more{
    padding:4px;
}
/*.btsmn .obs{
    right:0;
    width:40%;
}
.obs1{
    left:0;
    width:40%;
    border-top-left-radius:0px;
    border-top-right-radius:30px;
}*/
.bts{
    position:relative;
    width:100%;
    /*top:30px;*/
    background:rgba(0,0,50);
    height:40%;
    color:white;
    z-index:1;
}
.striker,.nonstriker{
    position:absolute;
    padding:5px;
    width:30%;
    top:35%;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    height:30px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    background:rgba(0,0,50);
    color:white;
}
.nonstriker{
    right:0;
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;

}
.bwlr{
    position:relative;
    width:100%;
    /*top:30px;*/
    background:rgba(0,0,0);
    height:25%;
    color:white;
    z-index:1;
}
.bowle{
    position:absolute;
    padding:5px;
    width:50%;
    top:35%;
    border-radius:20px;
    left:25%;
    height:30px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    background:rgba(0,0,50);
    color:white;
}

.comp,.complete{
    position:absolute;
    width:42%;
    right:0;
    height:100%;
    background:linear-gradient(rgba(200,200,200,0.5),rgba(200,200,200,1.0));
}
.complete{
    text-align:center;
    display:flex;
    justify-content:center;
    align-content:center;
}
a{
    position:absolute;
    background:red;
    width:50%;
    border-radius:20px;
    height:30px;
    left:25%;
    top:260px;
    color:white;
    text-decoration:none;
}

.comp1{
    position:absolute;
    top:2%;
    left:10%;
    width:80%;
    height:80%;
}

.runs{
    box-shadow: 0 17px 17px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
    position:relative;
    background:green;
    color:white;
    font-weight:bold;
    width:10%;
    height:10%;
    margin-top:4px;
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
}

.extraw,.extran,.extras,.wicket{
    box-shadow: 0 17px 17px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
    position:absolute;
    background:green;
    color:white;
    font-weight:bold;
    width:10%;
    height:100%;
    margin-top:4px;
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
}

.ext,.ext1,.wi1{
    position:absolute;
    width:80%;
    top:15%;
    height:100%;
    left:15%;
}

.extrs,.wkt,.run,.wkt2,.run1,.run2,.run3,.run4,.wkt1,.wkt2,.wkt2,.wkt3,.catch,.ro{
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
    background:blue;
    color:white;
    float:left;
    margin-left:1%;
    font-weight:bold;
    width:10%;
    height:80%;
    margin-top:4px;
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
}
.lss{
    position:relative;
    width:100%;
    height:10%;
}

.abc{
    display:none;
    z-index:9000;
    position:fixed;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
}
