/*@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);*/
@import url(https://fonts.googleapis.com/css?family=Audiowide);
*{
    font-family:Audiowide;
}
.head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 60px;
    font-size: 30px;
    font-weight: bold;
    background: crimson;
    font-family:Sofia;
    /*border-radius: 10px 10px 0 0;*/
}
.head span{
    position:absolute;
    right:30px;
    color:white;

}
.nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    font-size: 25px;
    font-weight: bold;
    background: #00008b;
}
.nav span{
    text-align:center;
    display: flex;
    align-items: center;
    justify-content:center;
    width:25%;
    height:100%;
    /*background-color:blue;*/
    border-bottom:4px solid #00008b;
    color:white;
}
.nav span:hover{
    border-bottom:4px solid black;
    background: #33338b;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
    transition-duration:0.5s;
}

::-webkit-scrollbar{
    width:0px;
}

.comp_mtchs,.upcoming_mtchs,.live_mtchs{
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
    height:550px;
    width:50%;
    position:absolute;
    left:25%;
    /*margin-left:350px;*/
    margin-top:20px;
    border-radius:25px;
    overflow-y:scroll;
    background:linear-gradient(rgba(200,200,200,0.5),rgba(200,200,200,1.0));
    /*text-align:center;*/

}
.upcoming_match{
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.10), 0 17px 17px 0 rgba(0, 0, 0, 0.10);
    width:80%;
    height:80px;
    /*margin-left:70px;*/
    left:10%;
    border-radius:20px;
    background:linear-gradient(to left,rgba(0,0,139,1.0),rgba(0,0,0,1.0));
    color:white;
    overflow-y:hidden;
    position:relative;
}

.top{
    text-align:center;
    color:black;
    height:20px;
    font-size:14px;
    background:white;
}
.comp_mtch .top{
    background:black;
    color:white;
}

.comp_mtch{
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.10), 0 17px 17px 0 rgba(0, 0, 0, 0.10);
    width:80%;
    height:170px;
    left:10%;
    /*margin-left:70px;*/
    border-radius:20px;
    background:linear-gradient(to right,rgba(50,200,50,1.0),rgba(0,0,100,1.0));
    color:white;
    overflow-y:hidden;
    text-align:center;
    position:relative;
}

.live_mtch{
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.10), 0 17px 17px 0 rgba(0, 0, 0, 0.10);
    width:80%;
    height:170px;
    left:10%;
    /*margin-left:70px;*/
    border-radius:20px;
    background:linear-gradient(to right,rgba(255,102,0,1.0),rgba(10,10,10,1.0));
    color:white;
    overflow-y:hidden;
    text-align:center;
    position:relative;
}

.live_mtch .play,.comp_mtch .play{
    position:relative;
    font-weight:bold;
    background:white;
    color:black;
    left:35%;
    border-bottom-left-radius:30px;
    border-bottom-right-radius: 30px;
    display:flex;
    align-items:center;
    justify-content:center;
    width:30%;
    height:30px;
}
.live_mtch .play{
    background:black;
    color:white;
}
.upcoming_match .play{
    float:right;
    border-top-left-radius:20px;
    border-bottom-left-radius: 20px;
    display:flex;
    align-items:center;
    justify-content:center;
    width:30%;
    height:30px;
    font-weight:bold;
    background:black;
    color:white;
}

.live_mtch .score1,.comp_mtch .score1{
    font-weight:bold;
    position:absolute;
    margin-top:25px;
    left:0;
    width:40%;
    height:30px;
    /*background:white;*/
    color:white;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    display:flex;
    justify-content:space-around;
    align-items:center;
}
.live_mtch .score1{
    left:30%;
}

.live_mtch .score2,.comp_mtch .score2{
    font-weight:bold;
    position:absolute;
    margin-top:25px;
    right:0;
    width:40%;
    height:30px;
    /*background:white;*/
    color:white;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
    display:flex;
    justify-content:space-around;
    align-items:center;
}


.summ{
    position:absolute;
    bottom:0px;
    left:25%;
    width:50%;

    /*margin-top:10px;*/
    background:black;
    color:white;
    /*height:30px;*/
    font-weight:bold;
    /*border-radius:20px;*/
    border-top-left-radius:30px;
    border-top-right-radius:30px;
}
.obs{
    position:absolute;
    left:25%;
    bottom:0px;
    color:black;
    width:50%;
    background:white;
    text-align:center;
    font-weight:bold;
    border-top-left-radius:30px;
    border-top-right-radius:30px;
}


.seas_det{
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
    height:550px;
    width:70%;
    position:absolute;
    left:15%;
    /*margin-left:350px;*/
    margin-top:20px;
    border-radius:25px;
    overflow-y:scroll;
    background:linear-gradient(rgba(200,200,200,0.5),rgba(200,200,200,1.0));
    /*text-align:center;*/
}

.st_sel{
    position:absolute;
    left:0;
    width:30%;
    height:100%;
    background:rgb(255,215,0);
}
.st_sel .stsel{
    position:absolute;
    width:100%;
    top:30%;
}
.pt,.orc,.prc{
    text-align:center;
    width:100%;
    height:40px;

    font-size: 30px;
    font-weight:bold;
}
.stsel div:hover{
    height:45px;
    background: black;
    color:white;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
    transition-duration:0.5s;
}

.purp_cap{
    position:absolute;
    right:15%;
    top:8%;
}
.org_cap{
    position:absolute;
    right:15%;
    top:8%;
}
.pts_tab{
    position:absolute;
    right:15%;
    top:15%;
}
table{
    border-collapse:collapse;
}
.pts_tab table{
    width:400px;
    border-radius:20px !important;
    background:black;
    color:white;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
}
/*.pts_tab tr{
    width:100%;
    background:black;
    color:white;
    border:none;
}*/
/*.org_cap tr:first-child{
    background:rgb(0,0,139);
    color:white;
    border:none;
}*/
.org_cap table{
    overflow-y:hidden;
    background:orange;
    /*background:linear-gradient(rgba(0,0,50,1.0),rgba(255,102,0,1.0));*/
    border-radius:20px;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
    color:white;
    width:400px;
}
.purp_cap table{
    overflow-y:hidden;
    background:rgb(38,0,77);
    /*background:linear-gradient(rgba(0,0,50,1.0),rgba(255,102,0,1.0));*/
    border-radius:20px;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
    color:white;
    width:400px;
}
td{
    text-align:center;

}
td:nth-child(1){
    text-align:left;
    font-weight:bold;
}

img{
    position:absolute;
    bottom:3%;
    right:3%;
    border-radius:50%;
    width:70px;
    height:70px;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
}

img:hover{
    width:75px;
    height:75px;
    transition-duration:0.3s
}
